
.ld{
  font-size: 1.630vw;
  font-family: "Branding", sans-serif;
  --ld-dark: #505050;
  --ld-really-dark: #3B3B3B;
  --ld-light: #F9F9F9;
  --ld-red: #8C2B44;
  --ld-yellow: #F5EB5E;
  --ld-blue: #4361C6;
}
@media (max-width: 600px) {
    .ld{
      font-size: 2.30vw;
    }
}

@media (min-width: 900px) {
    .ld{
      font-size: 16px;
    }
}




.ld-headline{
  color: var(--ld-dark);
  line-height: 1.2;
  margin: 0;
  padding: 0;
}


.ld-headline--1{
  font-weight: bold;
  font-size: 5em;
}
.ld-headline--2{
  font-size: 3em;
  font-weight: normal;
}

.ld-link{
  text-decoration: none;
  color: inherit;
  position: relative;
}
.ld-link:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: currentColor;
}

.ld-button{
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: inherit;
  background: none;
  border: 2px solid;
  padding: 1em 2em;
  color: var(--ld-blue);
  text-align: center;
}
.ld-button:hover, .ld-button:active{
  color: var(--ld-light);
  border-color: var(--ld-blue);
  background: var(--ld-blue);
}

