.ld{
  font-family: "Branding", sans-serif;

  --ld-dark: #505050;
  --ld-light: #F9F9F9;
  --ld-red: #8C2B44;
  --ld-blue: #4361C6;

}



.ld-headline{
  color: var(--ld-dark);
  line-height: 1.2;
  margin: 0;
  padding: 0;
}


.ld-headline--1{
  font-size: 66px;
}
.ld-headline--2{
  font-size: 44px;
  font-weight: normal;
}

.ld-link{
  text-decoration: none;
  color: var(--ld-blue);
}

