:root {
  --ld-dark: #3b3b3b;
  --ld-really-dark: black;
  --ld-light: #f9f9f9;
  --ld-red: #FFA664;
  --ld-yellow: #FFF153;
  --ld-blue: #4A84FF;
  --ld-purple: #E873E7;
  --ld-green: #91E8AF;

  --focus-color: var(--ld-red);

  --font-family: "Muli", sans-serif;
  --headline-font: "Muli-extrabold", sans-serif;

  --focus-color: var(--ld-red);
  --main-color: var(--ld-blue);

  --base: 4px;
  --border-radius: 2px;
}

.ld {
  font-family: var(--font-family);
  font-size: 16px;
  background: var(--ld-light);
}

@media (min-width: 900px) {
  .ld {
    font-size: 18px;
  }
}

.ld-topbar__item {
  color: white;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  padding: 0 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--headline-font);
}

.ld-topbar__item:focus {
  background: var(--focus-color);
  color: var(--ld-light);
  outline: none;
}
.ld-topbar__item--active,
.ld-topbar__item:active {
  background: var(--ld-dark);
  color: white;
}

.ld-nav {
  width: 100%;
  z-index: 500;
  display: flex;
}

.ld-nav__item {
  border-radius: var(--border-radius);
  font-weight: 900;
  color: inherit;
  align-items: center;
  text-transform: uppercase;
  padding: calc(var(--base) * 2) calc(var(--base) * 3);
  text-decoration: none;
  transition: transform 350ms cubic-bezier(0.39, 1.8, 0.15, 0.68);
}

.ld-header {
}

.ld-avatar {
  border-radius: 170px;
  width: 170px;
  height: 170px;
}

.ld-headline {
  font-family: var(--font-family);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-size: 3em;
}

h1.ld-headline {
  font-weight: bold;
  font-size: 3em;
}
h2.ld-headline {
  font-size: 2.5em;
  font-weight: normal;
}

h3.ld-headline {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.5;
}
.ld-link {
  color: inherit;
  position: relative;
}
.ld-link:focus {
  background: var(--focus-color);
  color: var(--ld-light);
  outline: none;
}

.ld-paragraph {
  font-weight: 400;
  max-width: 35em;
  line-height: 1.7;
  margin: 0;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2.5em;
  margin-top: 0;
}

.ld-paragraph--centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ld-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: inherit;
  background: var(--main-color);
  border: none;
  padding: 1em 2em;
  border-radius: 1px;
  color: var(--ld-light);
  text-align: center;
  margin-bottom: 1em;
}

.ld-button:focus {
  box-shadow: 0 0 0 3px var(--focus-color);
  outline: none;
}

.ld-cta {
  color: var(--ld-really-dark);
  background-color: var(--ld-yellow);
}

.ld-call-and-action {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0.5em 0;
}

.ld-call-and-action__text {
  text-align: right;
  margin-right: 1em;
}

@media (max-width: 600px) {
  .ld-call-and-action__text {
    text-align: center;
  }
}
.ld-call-and-action__title {
  font-family: var(--headline-font);
  display: inline-block;
  font-size: 2em;
  margin: 0;
  line-height: 1;
}
.ld-call-and-action__subtitle {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
}
.ld-call-and-action__button {
  margin-bottom: 0;
  margin: 1em;
}

.ld-tag {
  background: var(--ld-green);
  padding: 0.3em 0.5em;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--ld-really-dark);
  margin: 0 0em 0.3em 0;
  box-sizing: border-box;
  display: inline-block;
}
.ld-tag:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--focus-color);
}

.ld-list {
  margin: 0 0 2.5em 0;
  padding: 0;
  max-width: 35em;
}
.ld-list--centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.ld-list--big {
  font-size: 1.5em;
}
.ld-list__item {
  margin-left: 1em;
  line-height: 1.7;
  position: relative;
  list-style-type: none;
  padding: 0.3em 0;
}
.ld-list__item:before {
  content: "•";
  position: absolute;
  left: -1em;
  margin-right: 0.3em;
  color: var(--ld-green);
}

.ld-browserframe {
  background: #d7d7d7;
  border-radius: 5px;
  margin-bottom: 2.5em;
}

.ld-browserframe__head {
  display: flex;
  flex-flow: row wrap;
  height: 20px;
  padding: 4px 8px;
  align-items: center;
}

.ld-browserframe__image {
}

.ld-browserframe__buttons {
  display: flex;
  flex-grow: 0;
  margin-right: 0.3em;
}

.ld-browserframe__buttons span {
  margin-right: 0.3em;
  width: 1em;
  max-width: 10px;
  display: flex;
  height: 1em;
  max-height: 10px;
  background: var(--ld-really-dark);
  border-radius: 5px;
}

.ld-browserframe__url {
  background: #fff;
  border-radius: 2px;
  height: 15px;
  flex: 1;
}

.ld-browserframe__image {
  width: 100%;
}

.ld-divider {
  height: 3px;
  background: var(--main-color);
  border: none;
  margin: 0;
  border-radius: 3px;
  margin-bottom: 2.5em;
}

.ld-grid {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
.ld-grid__col {
  flex: 0 0 46.5%;
}
.ld-grid__row {
  flex: 0 0 100%;
  margin-bottom: 0.3em;
}
@media (max-width: 600px) {
  .ld-grid__col {
    flex: 0 0 100%;
    margin-bottom: 0.3em;
  }
}

.ld-statement {
  font-family: var(--headline-font);
  font-weight: 200;
  font-size: 2.2em;
  text-align: center;
}

.ld-heading {
  text-align: center;
  padding: 3em;
}
.ld-heading__title {
  font-family: var(--headline-font);
  font-size: 2em;
  margin: 0;
}
.ld-heading__subtitle {
  display: inline-block;
  font-weight: 200;
  max-width: 12em;
  margin: 0;
  font-size: 1.3em;
}

/* Selected text */
::selection {
  background: var(--main-color);
  color: var(--ld-light);
}
::-moz-selection {
  background: var(--main-color);
  color: var(--ld-light);
}

/* Broken Image */

img {
  position: relative;
}

img:before {
  content: "image of " attr(alt) " which could not be loaded";
  display: block;
  padding: 1em;
  border: 5px dashed var(--ld-yellow);
  box-sizing: border-box;
  background: var(--ld-light);

  font-weight: 600;
  text-align: center;
  font-size: 1em;

  position: absolute;
  left: 0;
  top: 0;
}

img:after {
  content: " ";
  width: 200px;
  height: 100px;
  display: block;
}
