body{
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: var(--ld-light);

}

.demo{
  --main-color: var(--ld-blue);
  --main-light-color: var(--ld-blue--light);
}
.demo-main{
  margin: 2em;
}
.demo-con{
  border: 5px solid #eee;
  padding: 2em;
  max-width: 900px;
  margin-bottom: 1em;
  background: white;
  border-radius: 1px;
}

.demo-label{
  font-size: 2em;
  margin-bottom: .5em;
  font-weight: bold;
  text-transform: uppercase;
}

.demo-color{
  display: inline-block;
  padding: 1em .2em;
}
.demo-color-label{
  font-size: 1.5em;
  margin: .3em 0;
}
.demo-color-square{
  width: 150px;
  height: 100px;
  border-radius: 5px;
  display: inline-block;
}

.demo-footer{
  text-align: center;
}