body{
  padding: 2em;
  margin: 0;
}
.demo-con{
  border: 5px solid #eee;
  padding: 2em;
  max-width: 600px;
  margin-bottom: 1em;
}

.demo-label{
  font-size: 2em;
  margin-bottom: .5em;
  font-weight: bold;
  text-transform: uppercase;
}

.demo-color{
  display: inline-block;
  margin-right: .5em;
}
.demo-color-square{
  width: 100px;
  height: 100px;
  display: inline-block;
}